.header {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    margin: .5em 0px 2em 0px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    margin: -1em 0px 0px;
    text-align: center;
    position: sticky;
}

.main-work img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 2em;
}

.main-work {
    width: 60%;
    margin: 4em auto auto auto;
}

.main-work p {
  object-fit: contain;
  text-align: center;
  margin-top: 7em;
}

a:-webkit-any-link {
    color: black;
    cursor: crosshair;
    text-decoration: none;
}

p {
    font-family: 'Rubik', sans-serif;
}


 #top, #bottom, #left, #right {
	/* background: #fff784; */
	position: fixed;
	}
	#left, #right {
        bottom: 0;
        margin: 1.5em;
		}
		#left { left: 0; top: 50%; }
		#right { right: 0; top: 42%; right: -5%;}
		
	#top, #bottom {
		left: 0; right: 0;
        height: .5em;
        margin: 1.5em;
		}
		#top { top: 0; }
        #bottom { bottom: 0; } 
        
.about {
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

.work {
    transform-origin: 0 0;
    transform: rotate(90deg);
}

.about-me {
    margin: 7em;
}


  /* strike through hover */
  span {
    position: relative;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
  }
  
  span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 50%;
    margin-top: -0.5px;
    background:rgb(250, 0, 158);
  }
  
  span:before {
    left: -2.5px;
  }
  span:after {
    right: 2.5px;
    background: rgb(250, 0, 158);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:before {
    background: rgb(250, 0, 158);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  span-1 {
    color: rgb(250, 0, 158) ;
  }

  span-1:hover {
    font-style: italic;
  }

  span-3:hover {
    color: rgb(250, 0, 158) ;
  }